exploded/*
test-output/*
out/*
*.class
*.bak
*.iws
*.iml
*.ipr
*.ids
*.log
*.jar
propertyLocator.properties
environmentLocator.properties
database-state-before-test-order-workflow.xml
.svn/*
Thumbs.db
.idea
