table.disp {
	border: 1px solid #cccccc;
    
	margin: 16px 0 20px 0 !important;
    width:100%;
    cellspacing:"1"; cellpadding:"1"  ;
}

table.disp th {
   font-weight:bold;
    color:#666666;
}

 th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: center;
	vertical-align: top;
     color:#666666;
}

thead tr {
    background-color:#edeeef;
/*	background-color:#6666ff;*/
     color:#666666;
}
 
th.sorted {
	background-color: #edeeef;
}

th a,th a:visited {
	color: azure;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
}

tr.odd {
	background-color: #fff
}

tr.tableRowEven,tr.even {
	background-color: whitesmoke;
}

div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../img/ico_file_excel.png);
}

span.csv {
	background-image: url(../img/ico_file_csv.png);
}

span.xml {
	background-image: url(../img/ico_file_xml.png);
}

span.pdf {
	background-image: url(../img/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../img/ico_file_rtf.png);
}

span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
    
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 91%;
	display: block;
	  margin-top:5px;
	margin-bottom: -5px;
    text-align:right;
}


.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.subtotal-sum{
    font-weight:bold;
    text-align:right;
}
    
.grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
}
.subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
.grandtotal-row {
    border-top: 2px solid black;

}

.total{
    font-weight:bold;
    color:BLACK;
  background-color: #edeeef;
}

.total td{
   font-weight:bold;
}
table#tablecss tr.total:last-child{
        color:#edeeef;
          display:none;
        border-top: 2px solid #edeeef;
        background-color: #edeeef;
}